{% extends "base.html" %}

{% block 'title' %}Artigos{% endblock 'title' %}  

{% block 'articles_list' %}

    <div class="container mt-5">
        <h5>Artigos </h5>
        <div>
            <p>Artigos Publicados: <strong>{{ publicacoes_count }}</strong> </p>
        </div>        
        <hr>

        <div class="row">

            {% for article in object_list %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">

                    <div class="card h-100">

                        {% if article.img_destaque %}
                            <img src="{{ article.img_destaque.url }}" class="card-img-top" alt="{{ article.title }}">
                        {% endif %}

                        <div class="card-body d-flex flex-column">

                            <h5 class="card-title">
                                <a href="{% url 'app_articles:article-single' article.slug %}">
                                    {{ article.title | slice:":26"  }}
                                </a>
                            </h5>

                            <p class="text-muted mt-auto"> 
                                <a href="{% url 'app_articles:categories-articles' article.category.slug %}" class="card-a-category">
                                    {{ article.category.name }}
                                </a> 
                                | {{ article.date_created|date:"d M Y" }}
                            </p>

                            <p class="card-text">
                                {{ article.meta_description | slice:":107" }}
                            </p>

                            {% if article.slug %}
                                <a href="{% url 'app_articles:article-single' article.slug %}" class="a-link">Leia mais</a>
                            {% endif %}

                            {% if article.slug %}
                                {% if user.is_authenticated and user.is_staff %}
                                    <div>
                                        <span>
                                        <a href="{% url 'app_articles:article-update-post' article.slug %}">Update</a>
                                        | | <a href="{% url 'app_articles:article-delete-post' article.slug %}" style="color:red">delete</a>
                                        </span>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if is_paginated %}
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; primeira</a>
                        <a href="?page={{ page_obj.previous_page_number }}">&laquo; anterior</a>
                    {% endif %}
            
                    <span class="current">
                        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Próxima &raquo;</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    </div>
{% endblock 'articles_list' %}