{% extends "base.html" %}

{% block 'update_article' %}

    {% if user.is_authenticated and user.is_staff %}
        <div class="container">
            <div class="row g-5">
                <!--Col md 8 -->
                <div class="col-md-8"> 
                    <div class="album py-5">
                        <div class="card-create-quiz">
                            <div class="card-header">
                                <h1>Update Article Post:</h1>
                            </div>
                            {% if user.is_authenticated and user.is_staff %}
                            <hr>
                            <br>
                            <div class="container">
                                <form method="Post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form.media }}
                                    {{ form.as_p }}

                                    <button class="btn btn-primary">Update Article Post</button>      
                                </form>
                                <hr>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            <!--Fechamento das divs ocorre na base HTML-->
    {% else %}
    <div class="container">
    <h3 class="danger">
        Você não tem permissão para acessar essa página!
    </h3>
        <a class="btn btn-danger btn-sm" href="{% url 'app_home:home-view' %}">Vá para home do site</a>     
    </div>
    {% endif %}

{% endblock 'update_article' %}