{% extends 'base.html' %}

{% block 'title' %} {{jurisprucencia_STJ.title}} {% endblock 'title' %}

{% block 'juris_stj_single' %}

<div class="content-container">
    <!-- Bloco 1: Informações gerais -->
    <div class="info-general">

        <h4>Dados gerais da decisão:</h4>
        <hr>
        <p>Descrição da Classe: {{object.descricaoClasse }}</p>            
        <p>Tipo de Decisão: <strong>{{object.tipoDeDecisao }}</strong></p>
        <p>Número Processo: <strong>{{object.numeroProcesso }}</strong></p>
        <p>Número registro: {{object.numeroRegistro }}</p>
        <p>Sigla de Classe: {{object.siglaClasse }}</p>
        <p>Órgao Julgador: {{object.nomeOrgaoJulgador }}</p>
        <p>Ministro Relator: {{object.ministroRelator }}</p>
        <p>Data Decisão: {{object.dataDecisao }}</p>        
        <p>Data Publicação: {{object.dataPublicacao }}</p>
    </div>
    <div>
        <i class="fas fa-balance-scale"></i>
    </div>

    <!-- Bloco 2: Ementa -->
    <div class="info-ementa">
        <h3>EMENTA:</h3>
        <p id="copiarEmenta" class="ementa">{{object.ementa }} <br><br> <small>{{object.tipoDeDecisao }} - Relator: {{object.ministroRelator }} - {{object.nomeOrgaoJulgador }} nº: {{object.numeroProcesso }} - {{object.dataPublicacao }}</small> </p>
        <button id="button-copiar" onclick="copiarEmenta()" class="btn bg-dark text-light btn-sm">Copiar Ementa &#10004;</button>
        <br><br>
        <div class="message">
            <div class="card-body">
                <div id="message" style="color:rgb(42, 173, 22);font-size:17; text-decoration: solid;"></div>
            </div>
        </div>
        
        
    </div>

    <!-- Bloco 3: Informações finais -->
    <div class="info-final">
        <p class="ementa"><strong>Decisão: </strong><br>{{object.decisao }}</p>
        <p class="ementa"><strong>Jurisp. Citada: </strong><br>{{object.jurisprudenciaCitada }}</p>
        <p class="ementa"><strong>Notas: </strong><br>{{object.notas }}</p>
        <p class="ementa"><strong>Info. Complementares: </strong><br>{{object.informacoesComplementares }}</p>
        <p class="ementa"><strong>Termos auxiliares: </strong><br>{{object.termosAuxiliares }}</p>
        <p class="ementa"><strong>Teses Jurídica: </strong><br>{{object.teseJuridica }}</p>
        <p class="ementa"><strong>Tema: </strong><br>{{object.tema }}</p>
        <p class="ementa"><strong>Referências Legislativas: </strong><br>{{object.referenciasLegislativas }}</p>
        <p class="ementa"><strong>Acórdãos Similares: </strong><br>{{object.acordaosSimilares }}</p>
        <hr>
    </div>
    <br>
    <center>
        
        <span class="coracao">&#9829; &#9829; &#9829; &#9829; &#9829;</span>                           
        <small style="color: rgb(154, 152, 152);">Xlex</small>
        <br>
        <a class="btn bg-dark text-light btn-sm" href="{% url 'app_juris_stj:juris-stj-list' %}">Voltar para lista</a><br><br>
        <a class="btn bg-dark text-light btn-sm" href="{% url 'app_searchs:advanced-searchs-view' %}">Formulário de busca</a>        
    </center>
    <br>
    <span>
        <center>
            <p>Views: {{object.views}}</p>
        <p>Fonte: Dados Abertos - Superior Tribunal de Justiça - STJ</p>            
        </center>

        <small>{{object.meta_description}}</small>
         - <small>{{object.keyword}}</small>
         - <small>{{object.title}}</small>
    </span>

</div>

{% endblock 'juris_stj_single' %}