{% extends "base.html" %}

{% block 'principios_ramo' %}
<br>
<div class="container">
    <div class="row g-5">
        <!--Col md 8 -->
        <div class="col-md-8"> 

            <div class="col-md-12 px-0">
                <h1 id="title-post-h1">Principios | Ramo do: {{ ramo.name }}</h1>
                <span>
                    Nesta página, estão listadas os princípios, conforme o <strong>ramo do direito</strong> selecionada.
                </span><br><br>
            </div>

            <div class="album py-5">
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-3">
                    <!--Bloco -->
                    {% for principio in principios %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body" id="bolinha-educacao">
                                <code class="card-code">{{principio.code}}</code>
                                <br>
                                <p class="card-date">Pub: {{principio.date_created}}
                                </p>
                                <hr>
                                <h5 class="card-title">
                                    <a class="card-a-title" href="{{ principio.get_absolute_url }}">{{ principio.principio_name | slice:":47" }}</a>
                                </h5>
                                <small class="card-category">Ramo do:
                                    <a class="card-a-category" href="{% url 'app_principios:principios-ramo-direito' principio.ramo_direito.slug %}">{{ principio.ramo_direito.name }}</a>
                                </small>
                                <hr>
                                <p class="card-description">{{principio.meta_description | slice:'170'}}</p>
                                <p class="p-link">
                                <a class="a-link" href="{{ principio.get_absolute_url }}">Ler Principio...</a> 
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

{% endblock 'principios_ramo' %}