{% extends "base.html" %}

{% block 'blog_update' %}
<div class="container">
    <div class="row g-5">
        <!--Col md 8 -->
        <div class="col-md-8"> 
            <div class="album py-5">
                <div class="card-create-quiz">
                    <div class="card-header">
                         <h1>Update Blog Post:</h1>
                    </div>                       
                    {% if user.is_authenticated and user.is_staff %}
                    <hr>
                    <br>
                    <div class="container">
                        <form method="Post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.media }}
                            {{ form.as_p }}
                            <button class="btn btn-primary">Update Blog Post</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    <!--Fechamento das divs ocorre na base HTML-->
{% endblock 'blog_update' %}