{% extends "base.html" %}

{% block 'title' %}Blog Social{% endblock 'title' %}  

{% block 'blogs_list' %}

<div class="container mt-5">
    <h5>Blog Social:</h5>
    <div>
      <p>Artigos Publicados: <strong>{{ publicacoes_count }}</strong> </p>
  </div>
    <hr>
  <div class="row">

      {% for blog in object_list %}
      <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
        <div class="card h-100"> <!-- Adicionado h-100 para fazer os cards terem a mesma altura -->
          {% if blog.img_destaque %}
          <img src="{{ blog.img_destaque.url }}" class="card-img-top" alt="{{ blog.title }}">
          {% endif %}
          <div class="card-body d-flex flex-column"> <!-- Flex para alinhar itens dentro do card -->
            <h5 class="card-title">{{ blog.title }}</h5>
            <p class="card-text">{{ blog.meta_description|truncatewords:20 }}</p>
            <p class="text-muted mt-auto"> <!-- mt-auto para alinhar ao fundo -->
              <a href="{% url 'app_blog_social:blog-social-categories' blog.category.slug %}"
                  class="card-a-category">
                  {{ blog.category.name }}
              </a> | {{ blog.date_created|date:"d M Y" }}
            </p>
            {% if blog.slug %}
            <a href="{% url 'app_blog_social:blog-social-single' blog.slug %}" class="a-link">Leia mais</a>
            {% endif %}
            {% if blog.slug %}
            {% if user.is_authenticated and user.is_staff %}
            <div>
              <span>
                <a href="{% url 'app_blog_social:blog-update-post' blog.slug %}">Update</a>
                | | <a href="{% url 'app_blog_social:blog-delete-post' blog.slug %}" style="color:red">delete</a>
              </span>
            </div>
            {% endif %}
          {% endif %}

          </div>
        </div>
      </div>
      {% endfor %}

  </div>
  {% if is_paginated %}
  <div class="pagination">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; primeira</a>
              <a href="?page={{ page_obj.previous_page_number }}">&laquo; anterior</a>
          {% endif %}
  
          <span class="current">
              Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
          </span>
  
          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">Próxima &raquo;</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
          {% endif %}
      </span>
  </div>
  {% endif %}

  </div>

{% endblock 'blogs_list' %}