<!DOCTYPE html>
<html lang="pt-br">
  {% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

  <title>{% block 'title' %}Xlex{% endblock 'title' %}</title>
</head>

        <!--NAV BACKEND -->
  {% if user.is_authenticated and user.is_staff %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 30px;">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Admins
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Dash</a></li>
                            <li><a class="dropdown-item" href="#">Numbers</a></li>
                            <li><a class="dropdown-item" href="#">Etc</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Adds
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Add Articles</a></li>
                            <li><a class="dropdown-item" href="#">Add Questões</a></li>
                            <li><a class="dropdown-item" href="#">Add Casos</a></li>
                            <li><a class="dropdown-item" href="#">Add Súmulas</a></li>
                            <li><a class="dropdown-item" href="#">Add modelo</a></li>
                            <li><a class="dropdown-item" href="#">Add Blog-Social</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Uploads
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">STF_data</a></li>
                            <li><a class="dropdown-item" href="#">Upload_stj_data</a></li>
                            <li><a class="dropdown-item" href="#"></a></li>
                            <li><a class="dropdown-item" href="#"></a></li>                                    
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Group
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Xlex Edu</a></li>
                            <li><a class="dropdown-item" href="#">Xlex Online</a></li>
                            <li><a class="dropdown-item" href="#">Xlex Store</a></li>
                            <li><a class="dropdown-item" href="#">Xlex...</a></li>                                    
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% endif %}

{% block 'navbar-top' %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background: linear-gradient(to bottom right, #000a19, #000000);">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Xlex</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="color:white"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Artigos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Questões</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Casos Concretos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Súmulas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Modelos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Principios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog-Social</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Jurisprudências
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Superior Trib. Justiça</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--BREADCRUMBS-->        
  <div class="container">
    <style>
        .breadcrumb a {
            color: black; /* Cor dos links */
        }
    
        .breadcrumb a:hover {
            color: grey; /* Cor dos links ao passar o mouse */
        }
    
        .breadcrumb .active {
            color: black; /* Cor do item ativo */
        }
    </style>            
    <nav aria-label="breadcrumb">
    <ol id="breadcrumbs" class="breadcrumb">
        <!-- Breadcrumbs serão inseridos aqui pelo JavaScript -->
    </ol>

    </nav>            
</div>
{% endblock 'navbar-top' %}


<body>
    <!-- App Home Site -->
    {% block 'site_home' %}

    {% endblock 'site_home' %}

    {% block 'contact_us' %}

    {% endblock 'contact_us' %}

    {% block 'sobre_nos' %}

    {% endblock 'sobre_nos' %}

    <!-- App Articles -->
    {% block 'articles_list' %}

    {% endblock 'articles_list' %}

    {% block 'article_single' %}

    {% endblock 'article_single' %}

    {% block 'categories_articles' %}

    {% endblock 'categories_articles' %}

    {% block 'articles_tags' %}

    {% endblock 'articles_tags' %}

    {% block 'create_article' %}

    {% endblock 'create_article' %}

    {% block 'update_article' %}
    
    {% endblock 'update_article' %}

    {% block 'article_delete' %}

    {% endblock 'article_delete' %}


    <!-- App Questions -->
    {% block 'questions_list' %}
    
    {% endblock 'questions_list' %}

    {% block 'question_single' %}

    {% endblock 'question_single' %}

    {% block 'question_banca' %}

    {% endblock 'question_banca' %}

    {% block 'question_disciplina' %}

    {% endblock 'question_disciplina' %}

    {% block 'ramo_direito' %}

    {% endblock 'ramo_direito' %}

    {% block 'question_tag' %}

    {% endblock 'question_tag' %}

    {% block 'create_xquestion' %}

    {% endblock 'create_xquestion' %}

    {% block 'create_answer' %}

    {% endblock 'create_answer' %}

    <!-- App Casos -->
    {% block 'casos_list' %}

    {% endblock 'casos_list' %}

    {% block 'casos_single' %}

    {% endblock 'casos_single' %}

    {% block 'casos_disciplina' %}

    {% endblock 'casos_disciplina' %}

    {% block 'casoRamo_direito' %}

    {% endblock 'casoRamo_direito' %}

    {% block 'caso_tag' %}

    {% endblock 'caso_tag' %}

    {% block 'caso_create' %}

    {% endblock 'caso_create' %}

    {% block 'caso_updade' %}

    {% endblock 'caso_updade' %}
    
    {% block 'caso_delete' %}

    {% endblock 'caso_delete' %}

    <!-- App Súmulas -->
    {% block 'sumulas_list' %}

    {% endblock 'sumulas_list' %}

    {% block 'sumula_single' %}

    {% endblock 'sumula_single' %}
    
    {% block 'sumula_create' %}

    {% endblock 'sumula_create' %}

    {% block 'sumula_update' %}

    {% endblock 'sumula_update' %}

    {% block 'sumula_delete' %}

    {% endblock 'sumula_delete' %}

    <!-- App Jurisprudência STJ -->
    {% block 'juris_stj_list' %}
    
    {% endblock 'juris_stj_list' %}

    {% block 'juris_stj_single' %}

    {% endblock 'juris_stj_single' %}

    {% block 'stj_juris_upload' %}

    {% endblock 'stj_juris_upload' %}

    <!-- Blocos APP Search -->
    {% block 'universal_results' %}

    {% endblock 'universal_results' %}

    {% block 'advanced_results' %}

    {% endblock 'advanced_results' %}

    {% block 'advanced_views' %}

    {% endblock 'advanced_views' %}

    {% block 'sumula_search' %}

    {% endblock 'sumula_search' %}

  <!-- App Modelos -->
    {% block 'modelos_page' %}

    {% endblock 'modelos_page' %}

    {% block 'modelo_singular' %}

    {% endblock 'modelo_singular' %}

    {% block 'modelos_ramo' %}

    {% endblock 'modelos_ramo' %}

    {% block 'modelos_tipo' %}

    {% endblock 'modelos_tipo' %}

    {% block 'modelos_tag' %}

    {% endblock 'modelos_tag' %}

    {% block 'modelo_create' %}

    {% endblock 'modelo_create' %}
    
    {% block 'modelo_update' %}

    {% endblock 'modelo_update' %}

    {% block 'modelo_delete' %}

    {% endblock 'modelo_delete' %}


    <!-- App Blog Social -->
    {% block 'blogs_list' %}
    
    {% endblock 'blogs_list' %}

    {% block 'blog_single' %}
    
    {% endblock 'blog_single' %}

    {% block 'blog_categories' %}

    {% endblock 'blog_categories' %}

    {% block 'blog_tags' %}

    {% endblock 'blog_tags' %}

    {% block 'blog_create' %}
    
    {% endblock 'blog_create' %}

    {% block 'blog_update' %}
    
    {% endblock 'blog_update' %}

    {% block blog_delete %}
    
    {% endblock blog_delete %}

    <!-- App Principios do Direito -->
    {% block 'principios_list' %}
    
    {% endblock 'principios_list' %}

    {% block 'principio_single' %}
    
    {% endblock 'principio_single' %}

    {% block 'principios_ramo' %}
    
    {% endblock 'principios_ramo' %}
  <!-- /=/=/=/=/=/=/=/=/=/=/=/==//=/=/=/=/=-->

  <!-- SIBEBAR-->
  {% if not hide_sidebar %}

  <div class="col-md-4">

      <div class="position-sticky" style="top: 1rem;">
        <div class="p-4 mb-3 rounded" id="side-hero">
            <p>Princípios:</p>
            <!-- Sidebar -->
          <div class="sidebar-principio-randômico">
            <h5>{{ principio_randomico.principio_name }}</h5>
            <p>{{ principio_randomico.meta_description }}</p>
          </div>

        </div>
        <div class="p-4">
          <strong>Páginas</strong>
          <ol class="list-unstyled mb-0">
              <li><a href="#" class="a-link-side">Modelo de Petições</a></li>
              <li><a href="#" class="a-link-side">Casos Concretos</a></li>
              <li><a href="#" class="a-link-side">Súmulas</a></li>
              <li><a href="#" class="a-link-side">Questões da OAB</a></li>
              <li><a href="#" class="a-link-side">Quiz</a></li>
          </ol>
      </div>

    <div class="p-4">
        <strong>Filtrar:</strong>

        {% if current_app == 'app_home' %}

        {% elif current_app == 'app_articles' %}

            <details><summary>Artigos por Categoria</summary>
                <ol class="list-unstyled mb-0">                 
                    {% for category in categories %}
                    <code style="color:gray;"></code>                   
                        <a href="#" class="a-link-side">{{ category.name }}</a><br>
                    {% endfor %}
                </ol>                    
            </details><br>

            <details><summary>Artigos por Tags</summary>
                <ol class="list-unstyled mb-0">                 
                    {% for tag in tagsx %}
                    <code style="color:gray;"></code>                   
                        <a href="#" class="a-link-side">{{ tag.name }}</a><br>
                    {% endfor %}
                </ol>                    
            </details><br>
        {% endif %}

        {% if current_app == 'app_questions' %}

        <details>
            <summary>Questões por Banca</summary>
            <ol class="list-unstyled mb-0">  
                {% for banca in bancas %}
                <a href="#" class="a-link-side">{{ banca.name }}</a><br>
                {% endfor %}
            </ol>
        </details><br>
    
        <details>
            <summary>Questões por Diciplina</summary>
            <ol class="list-unstyled mb-0">  
                {% for disciplina in disciplinas %}
                <a href="#" class="a-link-side">{{ disciplina.name }}</a><br>
                {% endfor %}
            </ol>
        </details><br>

        <details>
            <summary>Questões por Ramo do Dto</summary>
            <ol class="list-unstyled mb-0">  
                {% for ramo_direito in ramos %}
                <a href="#" class="a-link-side">{{ ramo_direito.name }}</a><br>
                {% endfor %}
            </ol>
        </details><br>

        <details>
            <summary>Questões por Tag</summary>
            <ol class="list-unstyled mb-0">  
                {% for tags in tagsx %}
                <a href="#" class="a-link-side">{{ tags.name }}</a><br>
                {% endfor %}
            </ol>
        </details><br>
    
    {% endif %}
    
    {% if current_app == 'app_casos' %}
        <details>
            <summary>Casos por Diciplina</summary>
            <ol class="list-unstyled mb-0">  
                {% for disciplina in disciplinas %}
                <a href="#" class="a-link-side">{{ disciplina.name }}</a><br>
                {% endfor %}
            </ol>
        </details><br>

        <details>
            <summary>Casos por Ramo do Dto</summary>
            <ol class="list-unstyled mb-0">  
                {% for ramo_direito in ramos %}
                <a href="#" class="a-link-side">{{ ramo_direito.name }}</a><br>
                {% endfor %}
            </ol>
        </details><br>

        <details>
            <summary>Casos por Tag</summary>
            <ol class="list-unstyled mb-0">  
                {% for tags in tagsx %}
                <a href="#" class="a-link-side">{{ tags.name }}</a><br>
                {% endfor %}
            </ol>
        </details><br>
    {% endif %}

    {% if current_app == 'app_modelos' %}
      <details>
          <summary>Modelos por Ramo do Dto</summary>
          <ol class="list-unstyled mb-0">  
              {% for ramo_direito in ramos %}
              <a href="#" class="a-link-side">{{ ramo_direito.name }}</a><br>
              {% endfor %}
          </ol>
      </details><br>

      <details>
        <summary>Modelos por Tipo</summary>
        <ol class="list-unstyled mb-0">  
            {% for tipo in tipos %}
            <!-- Corrigido para usar 'tipo.name' -->
            <a href="#" class="a-link-side">{{ tipo.name }}</a><br>
            {% endfor %}
        </ol>
      </details><br>

      <details>
          <summary>Modelos por Tag</summary>
          <ol class="list-unstyled mb-0">  
              {% for tag in tagsx %}
              <a class="card-a-category" href="#">{{ tag.name }}</a><br>
              {% endfor %}
          </ol>
      </details><br>
  {% endif %}

  {% if current_app == 'app_blog_social' %}

  <details>
    <summary>Blog-Categorias</summary>
    <ol class="list-unstyled mb-0">  
        {% for category in categories %}
        <!-- Corrigido para usar 'tipo.name' -->
        <a href="#" class="a-link-side">{{ category.name }}</a><br>
        {% endfor %}
    </ol>
  </details><br>

  <details>
      <summary>Blog-Tags</summary>
      <ol class="list-unstyled mb-0">  
          {% for tags in tagsx %}
          <a class="card-a-category" href="#">{{ tags.name }}</a><br>
          {% endfor %}
      </ol>
  </details><br>
{% endif %}

    </div>


      <div class="p-4">
        <strong>Redes Sociais Xlex</strong>
        <ol class="list-unstyled">
        <li><a href="#" class="a-link-side">Instagran</a></li>
        <li><a href="#" class="a-link-side">Youtube</a></li>
        <li><a href="#" class="a-link-side">Facebook</a></li>
        </ol>
      </div>
      <div class="p-4">
        <strong>Conta</strong>
        <ol class="list-unstyled">
        <li><a href="#" class="a-link-side">Perfil</a></li>
        <li><a href="#" class="a-link-side">Login</a></li>
        <li><a href="#" class="a-link-side">Logout</a></li>
        </ol>
      </div>
    </div>
  </div>
</div>
</div>
</div>    
{% endif %}
<br><br><br>

<!--Footer--> 
<footer>

  <div class="footer-container">
      <!-- Título do Footer -->
      <h2 class="site-title">XLEX, LOVE LEX!</h2>
      {% if views_count %}
      <p>Views: {{ views_count }}</p>
      {% endif %}
      <P style="color: white;">
          Agradecemos sua visita e interesse em nosso conteúdo jurídico. Convidamos você a explorar outras 
          seções do nosso site, onde encontrará mais recursos enriquecedores e insights valiosos.
          Faça um tour pelo Site. 
      </P>
      <br>
      <!-- Informações da Marca -->
      <div class="footer-brand-info">
          <p class="footer-brand-info">&copy; 2023 Xlex Educação Pesquisa Jurídica e Desenvolvimento Social. Todos os direitos reservados.</p>
      </div>

  </div>
  <!-- -->
</footer>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>

<script src="{% static 'js/breadcrumbs.js' %}"></script>
<script src="{% static 'js/phrase.js' %}"></script>
<script src="{% static 'js/sidebar_show.js' %}"></script>
<script src="{% static 'js/revelar_answer_question.js' %}"></script>
<script src="{% static 'js/copy_enunciado.js' %}"></script>
<script src="{% static 'js/copy_ementa.js' %}"></script>

</body>
</html>