{% extends "base.html" %}

{% block 'sobre_nos' %}
<div class="content-container">
    <h1>Sobre Nós</h1>
    <h4>O que é o Xlex?</h4>
    <p>O nome Xlex tem origem no latim, mais especificamente da palavra "lex," 
        que significa "lei". A escolha desse nome foi porque ele tem uma conexão direta 
        com o mundo jurídico. <br><br>
        O Xlex é um portal dedicado à educação e à pesquisa jurídica. Tem como característica central a educação e assim, 
        ele traz uma série de conteúdos que podem ser consumidos por estudantes, acadêmicos, juristas e cidadãos 
        interessados nos impactos das leis na sociedade.
    </p>
    <p> O Xlex se propõe a ser um 
        lugar onde todos os usuários encontrarão conteúdo atualizado e de qualidade, por meio 
        de uma rede interconectada de domínios, incluindo xlex.com.br, xlex.store, xlexedu.com 
        e outros. Pode-se dizer que estamos criando uma experiência abrangente para os usuários, 
        permitindo acesso distribuído, rápido, seguro, eficiente e moderno. 
    </p>

    <p>Sobre Marcos Rodrigues (.MR) Marcos Rodrigues, natural do município 
        de Palhoça - SC, é o idealizador do projeto. Formado e pós-graduando em Direito 
        Tributário, sua jornada é marcada por lutas, esforço e perseverança. 
    </p>
    <p>Obrigado pela leitura. .MR</p>
    <a href="https://www.linkedin.com/in/marcos-rodrigues-92119789/?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3BFtAVORfISxOEtyRhVPHadg%3D%3D" class="a-link">Linkedin</a>


</div>
{% endblock 'sobre_nos' %}